@import "compass";
@import "compass/reset";

/* Palette URL: http://paletton.com/#uid=1000u0kt+lZlOstrKqzzSiaJidt */

/* Main Primary color */
/*
.color-primary-0 { color: #AF0B0B }
*/

/*
.color-primary-1 { color: #E34848 }
.color-primary-2 { color: #D41C1C }
.color-primary-3 { color: #910000 }
.color-primary-4 { color: #6B0000 }
*/

$avatar-color: #F0F0F0;

$link-color: #D41C1C;
$text-color: #303030;
$background-color: #FEFEFE;

$normal-label-color: #AEADAD;
$important-label-color: #AF0B0B;

$selected-text-color: $link-color;
$selected-normal-label-color: $important-label-color;
$selected-important-label-color: $text-color;
$selected-reference-color: #FCF5F5;

$base-font-size: 16px;
$base-line-height: 26px;
@include establish-baseline;

$x-large-font-size: 42px;
$large-font-size: 26px;
$small-font-size: 12px;

$avatar-size: 200px;
$avatar-margin-bottom: 2.1em;

html {
  background: $background-color;
}

/* Comment to safe few bytes in the output stylesheet. */
html.debug-grid {
  @include debug-vertical-alignment;
}

body {
  padding-left: 20px;
  padding-right: 20px;

  color: $text-color;

  font-family: 'Merriweather', serif;
}

a {
  cursor: pointer;

  color: $link-color;

  &:hover {
    text-decoration: underline;
  }
}

header, main, footer {
  max-width: 685px;
  margin-left: auto;
  margin-right: auto;
}

header {
  @include leader(3, $base-font-size);
  @include trailer(2, $base-font-size);

  @include trailing-border(6px, 3, $base-font-size);

  text-align: center;

  .avatar {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $avatar-margin-bottom;

    width: $avatar-size;
    height: $avatar-size;

    @include border-radius($avatar-size);

    background: $avatar-color url("../images/avatar.png") center/cover no-repeat;
  }

  h1 {
    @include adjust-font-size-to($x-large-font-size);

    @include trailer(1, $x-large-font-size);

    font-family: 'Lato', sans-serif;
    font-weight: 900;
  }

  p {
    @include trailer(1, $base-font-size);
  }

  nav {
    color: $link-color;
  }
}

section {
  h2 {
    @include adjust-font-size-to($large-font-size);

    @include leader(1, $large-font-size);

    font-family: 'Lato', sans-serif;
    font-weight: 400;
  }

  a:last-child {
    display: block;

    @include leader(1, $base-font-size);

    text-align: right;
  }
}

.references > li {
  @include leading-border(1px, 1, $base-font-size, dotted $text-color);
  @include trailing-border(0, 1, $base-font-size);

  padding-left: 10px;
  padding-right: 10px;

  &:hover {
    cursor: pointer;

    color: $selected-text-color;
    background: $selected-reference-color;

    .stubs {
      color: $selected-normal-label-color;
    }

    .stubs-label {
      color: $selected-important-label-color;
    }
  }

  &:first-child {
    @include leading-border(0, 1, $base-font-size);
  }

  h3 {
    @include adjust-font-size-to(16px);

    font-family: 'Lato', sans-serif;
    font-weight: 300;

    text-transform: uppercase;
  }

  .stubs {
    @include adjust-font-size-to($small-font-size);

    color: $normal-label-color;
  }
}

footer {
  @include adjust-font-size-to($small-font-size);

  @include leader(2, $small-font-size);
  @include trailer(1, $small-font-size);
}

.stubs {
  li {
    display: inline;

    margin-left: 5px;

    &:before {
      content: "\2022  ";
    }

    &:first-child {
      margin-left: 0px;

      &:before {
        content: none;
      }
    }
  }

  li.stubs-label {
    color: $important-label-color;

    &:before {
      content: "\25FC  ";
    }
  }
}

.ellipsis:after {
  content: "\2026";
}

.arrow:after {
  content: " \2192";
}
