/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Palette URL: http://paletton.com/#uid=1000u0kt+lZlOstrKqzzSiaJidt */
/* Main Primary color */
/*
.color-primary-0 { color: #AF0B0B }
*/
/*
.color-primary-1 { color: #E34848 }
.color-primary-2 { color: #D41C1C }
.color-primary-3 { color: #910000 }
.color-primary-4 { color: #6B0000 }
*/
/* line 106, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.625em;
}

/* line 60, ../../src/stylesheets/main.scss */
html {
  background: #FEFEFE;
}

/* Comment to safe few bytes in the output stylesheet. */
/* line 65, ../../src/stylesheets/main.scss */
html.debug-grid {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSI1JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjUiLz48c3RvcCBvZmZzZXQ9IjUlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  -moz-background-size: 100% 1.625em;
  -o-background-size: 100% 1.625em;
  -webkit-background-size: 100% 1.625em;
  background-size: 100% 1.625em;
  background-position: left top;
}

/* line 69, ../../src/stylesheets/main.scss */
body {
  padding-left: 20px;
  padding-right: 20px;
  color: #303030;
  font-family: 'Merriweather', serif;
}

/* line 78, ../../src/stylesheets/main.scss */
a {
  cursor: pointer;
  color: #D41C1C;
}
/* line 83, ../../src/stylesheets/main.scss */
a:hover {
  text-decoration: underline;
}

/* line 88, ../../src/stylesheets/main.scss */
header, main, footer {
  max-width: 685px;
  margin-left: auto;
  margin-right: auto;
}

/* line 94, ../../src/stylesheets/main.scss */
header {
  margin-top: 4.875em;
  margin-bottom: 3.25em;
  border-bottom-width: 0.375em;
  border-bottom-style: solid;
  padding-bottom: 4.5em;
  text-align: center;
}
/* line 102, ../../src/stylesheets/main.scss */
header .avatar {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.1em;
  width: 200px;
  height: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 200px;
  background: #F0F0F0 url("../images/avatar.png") center/cover no-repeat;
}
/* line 115, ../../src/stylesheets/main.scss */
header h1 {
  font-size: 2.625em;
  line-height: 1.2381em;
  margin-bottom: 0.61905em;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}
/* line 124, ../../src/stylesheets/main.scss */
header p {
  margin-bottom: 1.625em;
}
/* line 128, ../../src/stylesheets/main.scss */
header nav {
  color: #D41C1C;
}

/* line 134, ../../src/stylesheets/main.scss */
section h2 {
  font-size: 1.625em;
  line-height: 2em;
  margin-top: 1em;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
/* line 143, ../../src/stylesheets/main.scss */
section .more {
  display: block;
  margin-top: 1.625em;
  text-align: right;
}

/* line 152, ../../src/stylesheets/main.scss */
.references > li {
  border-top-width: 0.0625em;
  border-top-style: dotted;
  border-top-color: #303030;
  padding-top: 1.5625em;
  border-bottom-width: 0;
  border-bottom-style: solid;
  padding-bottom: 1.625em;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 159, ../../src/stylesheets/main.scss */
.references > li:hover {
  cursor: pointer;
  color: #D41C1C;
  background: #FCF5F5;
}
/* line 165, ../../src/stylesheets/main.scss */
.references > li:hover .stubs {
  color: #AF0B0B;
}
/* line 169, ../../src/stylesheets/main.scss */
.references > li:hover .stubs-label {
  color: #303030;
}
/* line 174, ../../src/stylesheets/main.scss */
.references > li:first-child {
  border-top-width: 0;
  border-top-style: solid;
  padding-top: 1.625em;
}
/* line 178, ../../src/stylesheets/main.scss */
.references > li h3 {
  font-size: 1em;
  line-height: 1.625em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
/* line 187, ../../src/stylesheets/main.scss */
.references > li .stubs {
  font-size: 0.75em;
  line-height: 2.16667em;
  color: #AEADAD;
}

/* line 194, ../../src/stylesheets/main.scss */
footer {
  font-size: 0.75em;
  line-height: 2.16667em;
  margin-top: 4.33333em;
  margin-bottom: 2.16667em;
}
/* line 200, ../../src/stylesheets/main.scss */
footer span:nth-child(odd):after {
  content: ' / ';
}

/* line 206, ../../src/stylesheets/main.scss */
.stubs li {
  display: inline;
  margin-left: 5px;
}
/* line 211, ../../src/stylesheets/main.scss */
.stubs li:before {
  content: "\2022  ";
}
/* line 215, ../../src/stylesheets/main.scss */
.stubs li:first-child {
  margin-left: 0px;
}
/* line 218, ../../src/stylesheets/main.scss */
.stubs li:first-child:before {
  content: none;
}
/* line 224, ../../src/stylesheets/main.scss */
.stubs li.stubs-label {
  color: #AF0B0B;
}
/* line 227, ../../src/stylesheets/main.scss */
.stubs li.stubs-label:before {
  content: "\25FC  ";
}

/* line 233, ../../src/stylesheets/main.scss */
.ellipsis:after {
  content: "\2026";
}

/* line 237, ../../src/stylesheets/main.scss */
.arrow:after {
  content: " \2192";
}

@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@-moz-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@-ms-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
/* line 258, ../../src/stylesheets/main.scss */
.fade {
  opacity: 1;
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -moz-animation-name: fadeInFromNone;
  -webkit-animation-name: fadeInFromNone;
  animation-name: fadeInFromNone;
}

/* line 264, ../../src/stylesheets/main.scss */
.hidden {
  display: none !important;
  opacity: 0;
}

@media only screen and (max-width: 480px) {
  /* line 272, ../../src/stylesheets/main.scss */
  header .stubs li {
    display: block;
    margin: 0;
    text-align: center;
  }
  /* line 277, ../../src/stylesheets/main.scss */
  header .stubs li:before {
    content: none;
  }

  /* line 285, ../../src/stylesheets/main.scss */
  section .more {
    text-align: center;
  }

  /* line 290, ../../src/stylesheets/main.scss */
  .arrow:after {
    content: none;
  }

  /* line 295, ../../src/stylesheets/main.scss */
  footer span {
    display: block;
    text-align: center;
  }
  /* line 299, ../../src/stylesheets/main.scss */
  footer span:nth-child(odd):after {
    content: none;
  }
}
