doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Dyno
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:300,400,900|Merriweather', type='text/css')
    link(rel='stylesheet', href='stylesheets/main.css')
    script(src="scripts/app.js")
  body
    <!-- TODO remove if works for all browsers -->
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->

    header
      div.avatar
      h1 John Smith
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae fermentum nulla. Pellentesque a tortor at risus faucibus laoreet vel et velit.
      nav
        ul.stubs
          li
            a GitHub
          li
            a LinkedIn
          li
            a Twitter
          li
            a Email
    main
      section
        h2 Projects
        ul.references
          li
            h3 Muvu
            ul.stubs
              li Owner
              li.stubs-label Featured
            p Phasellus dictum sagittis augue, vitae varius massa dapibus.
          li
            h3 Wordify
            ul.stubs
              li Contributor
              li.stubs-label Featured
            p Nunc id enim ullamcorper, iaculis nunc non, euismod dolor.
          li
            h3 Tagspace
            ul.stubs
              li Contributor
            p Etiam fermentum pulvinar ante sit amet lacinia.
        a.arrow More

      section
        h2 Articles
        ul.references
          li
            h3 Duis sollicitudin magna
            ul.stubs
              li December 15, 2014
            p.ellipsis Integer laoreet quam ligula, eget egestas erat ornare in. Nulla ut nulla vitae mauris porta auctor
          li
            h3 Quisque molestie malesuada est
            ul.stubs
              li March 10, 2014
            p.ellipsis Sed vitae diam ut felis porttitor rhoncus. Morbi vel tempus massa
          li
            h3 Maecenas lacinia a augue ac laoreet
            ul.stubs
              li August 2, 2014
            p.ellipsis Vivamus vulputate sapien semper, convallis neque eu, hendrerit urna
        a.arrow More

      section
        h2 Meetups
        ul.references
          li
            h3 Nunc id ligul
            ul.stubs
              li dotJS
              li January 1, 2015
              li.stubs-label Upcoming
            p.ellipsis Etiam ultrices scelerisque mauris, sit amet interdum ligula ultricies nec
          li
            h3 Nunc id ligul
            ul.stubs
              li JSConf
              li November 21, 2014
            p.ellipsis Etiam ultrices scelerisque mauris, sit amet interdum ligula ultricies nec
        a.arrow More

    footer &mdash; © 2014 / <a href="#"> Hecuba Theme</a> by <a href="https://github.com/tomasz-oponowicz"> Tomasz Oponowicz</a>

  //- Google Analytics: change UA-XXXXX-X to be your site's ID.
  //-
    script
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
